
:root {

	//--background: #101111;
	--background: #0c0c0c;

	--f-high: #919794;
	--f-med: #5e6461;
	--f-low: #2d2f2e;
	--f-inv: #fff;

	--b-high: #292b2b;
	--b-med: #101111;
	--b-low: #000000;
	--b-inv: #000;

	--f-error: #000;
	--b-error: #ff0000;
}

@import "mixins";
@import "fonts";
@import "activity";

@import "enron/reset";
@import "enron/interaction";
@import "enron/animation/fade_in";

body {

	padding: 0;
	overflow: hidden;

	font-family: 'Fira';
	font-size: 16px;

	background: var(--background);
	color: var(--f-med);
	-webkit-tap-highlight-color: var(--f-med);
}

input {

	padding: 10px;
	border: none;
	outline: none;

	font-family: 'Fira';
	font-size: 16px;

	background: var(--b-high);
	color: var(--f-high);
}

input[type="text"] {
}
